.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 40px 0;
}

.course-card {

  border-radius: 10px;
  box-shadow: 0 4px 24px 0 rgba(60,60,60,0.10);
  width: 450px;
 /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  align-items: stretch;
  padding: 0;

  transition: transform 0.18s, box-shadow 0.18s;
  position: relative;
  cursor: pointer;
  overflow: hidden;

}

.course-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 8px 32px 0 rgba(60,60,60,0.18);
}

.course-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.course-header {
    padding: 28px 24px 20px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
  width: 100%;
     justify-content: flex-end;
}

.course-icon {
  font-size: 2.2em;
  color: #3f51b5;
  background: #e3e8ee;
  border-radius: 50%;
  padding: 8px;
}

.course-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #222;
}
.course-description {
    display: block;
    width: 100%;
    text-align: end;
    color: #222;
    font-size: 13px;
 
}

.course-actions {
    padding: 28px 24px 20px 24px;
  display: flex;
  gap: 12px;
  margin-top: 12px;
  width: 100%;
   justify-content: flex-end;
}

.loading-message,
.no-courses-message {
  font-size: 1.2em;
  color: #888;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.course-side {
  width: 30%;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

.course-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
      align-items: flex-end;
        min-width: 0;
             padding: 28px 24px 20px 24px;
}
.course-header,
.course-actions {
  width: 100%;
 
  box-sizing: border-box;
  overflow: hidden;
}
.gears-lottie {
  width: 50px !important;
  height: 50px !important;
  min-width: 50px !important;
  min-height: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
  display: block;
}
.course-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.course-link {
  text-decoration: none;
  color: inherit;
}

.custom-snackbar {
  margin-top: 90px !important;
  z-index: 1000 !important; /* ערך גבוה כדי להבטיח שהוא מעל הכל */
}

.mat-snack-bar-container {
  margin-left: 90px !important;
  margin-right: 90px !important;
  z-index: 1000 !important; /* גם לקונטיינר */
}

